[build-system]
requires = ["flit_core >=3.2.0,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "mdformat_mkdocs"
authors = [
    { name = "Kyle King", email = "dev.act.kyle@gmail.com" },
]
readme = "README.md"
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Libraries :: Python Modules",
]
keywords = ["mdformat", "markdown", "markdown-it"]
requires-python = ">=3.8.4"
dependencies = [
    "mdformat >= 0.7.16",
    "mdformat-admon >= 2.0.2",
    "mdformat-gfm >= 0.3.6",
    "more-itertools >= 10.2.0"
]
dynamic = ["version", "description"]

[project.optional-dependencies]
recommended = [
    # Keep in-sync with README
    "mdformat-beautysh >= 0.1.1",
    "mdformat-config >= 0.1.3",
    "mdformat-footnote >= 0.1.1",
    "mdformat-frontmatter >= 2.0.8",
    "mdformat-ruff >= 0.1.3",
    "mdformat-simple-breaks >= 0.0.1",
    "mdformat-tables >= 0.4.1",
    "mdformat-web >= 0.1.0",
    # Patches https://github.com/lovesegfault/beautysh/issues/248 for Python 3.12
    "setuptools",
]
test = [
    "pytest >= 7.4.4",
    "pytest-beartype >= 0.0.1",
    "pytest-cov >= 4.1.0",
    "syrupy >= 4.6.0",
]
dev = ["pre-commit"]

[project.urls]
Homepage = "https://github.com/KyleKing/mdformat-mkdocs"

[project.entry-points."mdformat.parser_extension"]
mkdocs = "mdformat_mkdocs"

[tool.flit.sdist]
include = []
exclude = [".github/", "tests/"]

[tool.pytest-watcher]
now = true
runner = "tox"
runner_args = ["-e", "py38-recommended"]
patterns = ["*.py", "*.md", "*.ambr"]
ignore_patterns = []
